// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My Colours:
$white: #ffffff;
$light_grey: #F7F8FA;
$dark_grey: #3B4A4F;
$base: #30c9e8;
$accent: #FE4332;

