<div class="container">
  <div class="row">
    <% @sorted_cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="cocktail-card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "Open", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>