.carousel {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.carousel-caption {
  position: absolute;
  background: rgba(0,0,0,0.4);
  padding: 15px 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel img {
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
