.navbar {
  justify-content: space-between;
  background-color: $base;
  font-family: 'Arvo', serif;
  align-items: center;
  color: $white;
}

.navbar h1 {
  font-family: 'Arvo', serif;
  color: red;
}

.nav-link {
  text-decoration: none; 
}
